@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
    font-size: smaller;
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: none;
    background-image: linear-gradient(
    180deg,
    hsl(270deg 100% 7%) 58%,
    hsl(216deg 51% 20%) 88%,
    hsl(202deg 46% 30%) 95%,
    hsl(191deg 31% 42%) 99%,
    hsl(177deg 23% 57%) 100%,
    hsl(153deg 30% 76%) 101%,
    hsl(104deg 100% 95%) 100%
    );
}

.container {
    background-color: deepskyblue;
    width: 650px;
    margin-bottom: 100px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.header {
    min-height: 20vh;
    background-image: url(./images/shake-banner.jpg);
    background-repeat: no-repeat;
    background-size: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: 0;
    padding: 2em;
}

.header-inner {
    width: 70%;
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 3px solid black;
    border-radius: 10px;
    text-shadow: 1px 1px 3px black;
}

.header-elements {
    margin: 0;
}

#items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shake-container {
    display: flex;
    margin: 2em;
}

.shake-img-container {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shake-img {
    max-width: 150px;
    min-height: 150px;
    border: 3px solid black;
    border-radius: 50%;
}

.shake-details {
    background-color: aqua;
    border: 2px solid black;
    border-radius: 10px 0px 0px 0px;
    padding: 0px 7px 0px 10px;
}

.shake-name {
    background-color: #C191BB;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5em 1em;
}

.price {
    max-width: fit-content;
    background-color: #1c1c1c;
    color: white;
    border-radius: 10px;
    padding: 0.40em;
}

.ingredient-tag {
    background-color: #FFBA03;
    border: 2px solid black;
    padding: 3px 0px 3px 10px;
    margin: 0;
}

.ingredients {
    background-color: #E7375D;
    color: aliceblue;
    text-shadow: 1px 1px 3px black;
    padding: 3px 0px 3px 10px;
    border: 2px solid black;
    border-radius: 0px 0px 0px 10px;
    margin: 0;
}

.shake-span {
    padding: 0.75em;
    max-width: 20px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #805F7C;
    border-radius: 0px 10px 10px 0px;
}

#summary-container {
    display: none;
    max-width: 80%;
    margin: auto;
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
}

.summary-title-container {
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #FFBA03;
}

.summary-title-container h2 {
    margin: 0px;
    margin-left: 10px;
}

.added-shake {
    display: flex;
    justify-content: space-between;
}

.added-shake-details {
    display: flex;
    justify-content: space-between;
    width: 50%;
    background-color: #C191BB;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

#total-price-container {
    max-width: fit-content;
    padding: 3px;
    margin: 20px 0px;
    background-color: #FFBA03;
    border: 2px solid #1c1c1c;
    border-radius: 10px;
}

#total-price {
    font-size: 2em;
}

.btn {
    
}

#modal-container {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    height: 300px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px white;
    background-color: deepskyblue;
    color: black;
}



#rating-modal {
    display: none;
}

.bg-darken {
    opacity: 0.5;
}
